*.pyc
.vagrant
*.pyc
*.pyo
*.so
*.class
*.sqlite3
*.log
*.egg*
*.swp*
celerybeat-schedule.*
media
*~
build/
dist/
.tox/
.vagrant
/.coverage
# Used in demo apps
secrets.cfg
.DS_Store
.eggs
excel_reports
static/js
static/assets
static/images
static/fonts
static/css
!static/js/bundle.js
