{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} Login page {% endblock %}
{% block content %}
    {{ message }}
    <div class="login">
        <div class="login-body">
            <div class="login-switcher">
                <a href="{% url 'login' %}" class="login-switcher-button active">{{ _("Sign in") }}</a>
            </div>
            <div class="login-form">
            <form name="login-form" action="" method="post">
                {% csrf_token %}
                <div class="login-fieldset {% if form.username.errors or form.non_field_errors %}has-error{% endif %}">
                    <label class="login-fieldset-icon" for="login-email">
                        <figure class="icon icon--mail">
                          <svg version="1.1">
                            <use xlink:href="#mail"></use>
                          </svg>
                        </figure>
                    </label>

                    <input class="login-input" id="login-email" name="username" type="email" placeholder="E-mail">
                    {% if form.username.errors %}
                        <div class="login-error">{{ form.username.errors }}</div>
                    {% endif %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <div class="login-error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="login-fieldset {% if form.password.errors %}has-error{% endif %}">
                    <label class="login-fieldset-icon" for="login-password">
                        <figure class="icon icon--lock">
                            <svg version="1.1">
                                <use xlink:href="#lock"></use>
                            </svg>
                        </figure>
                    </label>
                    <input type="password" class="login-input" id="login-password" name="password" placeholder="Password">
                    {% if form.password.errors %}
                    <div class="login-error">Error message here!</div>
                    {% endif %}
                    <div>
                        <a href="{% url 'password_reset' %}">{{ _("Forgot your password?") }}</a>
                    </div>
        <div class="login-fieldset" style="margin-top: 0;">
          <button class="login-submit" type="submit">{{ _("Login") }}</button>
        </div>
      </div>
    </form>
            </div>

    <div>
        
    </div>

  </div>
</div>
{% endblock %}