{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} Вход {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}

{% block content %}
  {{ message }}
  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
        <div class="title">Вход в систему</div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                Логин
               </div>
               <div class="wrap">
                  <input class="login-input" id="login-email" name="username" type="email" placeholder="E-mail">
              </div>
           </div>
        </div>
        <div class="input_block_full">
          <div class="input_text">
              <div class="label">
                Пароль
               </div>
               <div class="wrap">
                  <input type="password" class="login-input" id="login-password" name="password" placeholder="Password">
              </div>
          </div>
        </div>

        <div class="project_block_part">
          <div class="part_left">
              <div class="filter_side">
                  <button type="submit" class="red_button" title="Войти">
                      <div>Войти</div>
                  </button>
              </div>
          </div>
          <div class="part_right">
              <a href="/auth/password_reset/" class="no_pas">Забыли пароль?</a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
