{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} Вход {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}

{% block content %}
  {{ message }}
  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
        <div class="title">Вход в систему</div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                Логин
               </div>
               <div class="wrap">
                  <input class="login-input" id="login-email" name="username" type="email" placeholder="E-mail">
              </div>
           </div>
        </div>
        <div class="input_block_full">
          <div class="input_text">
              <div class="label">
                Пароль
               </div>
               <div class="wrap">
                  <input type="password" class="login-input" id="login-password" name="password" placeholder="Password">
              </div>
          </div>
        </div>


        <div class="input_block_full">
          <div class="input_text">
              {% for err in form.non_field_errors %}
                  <div class="label"> {{ err }} </div>
              {% endfor %}
          </div>
        </div>


        <div class="project_block_part">
          <div class="part_left">
              <div class="filter_side">
                  <button type="submit" class="red_button" title="Войти">
                      <div>Войти</div>
                  </button>
              </div>
          </div>
          <div class="part_right">
              <a href="/auth/password_reset/" class="no_pas">Забыли пароль?</a>
          </div>
        </div>
      </div>
      <div class="block_border_bottom">
        <div class="project_block_part">
          <div class="part_left">
            <div class="login_footer">
              <a href="#" onclick="openModal('//www.youtube.com/embed/gUz-VSEfF_k')">
                <span class="login_icons">
                  <img src="{% static 'images/icons/login_video_icon.svg' %}" class="login_icon"/>
                </span>
                О системе
              </a>
            </div>
          </div>
          <div class="part_right">
            <div class="login_footer">
              <a href="/help/" class="right">
                <span class="login_icons">
                  <img src="{% static 'images/icons/login_help_icon.svg' %}" class="login_icon"/>
                </span>
                Помощь
              </a>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </form>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <iframe id="frame" width="100%" height="95%" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
<script type="text/javascript">

// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var span = document.getElementsByClassName("close")[0];
var frame = document.getElementById('frame');

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  frame.src = '#'
  modal.style.display = "none";
}

function openModal(url) {
  frame.src = url;
  modal.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
      frame.src = '#'
      modal.style.display = "none";
    }
}
</script>
{% endblock %}
