{% load i18n %}{% autoescape off %}
Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте isem.natd.gov.kz, которая связана с этим адресом электронной почты.

Пожалуйста, перейдите на эту страницу и введите новый пароль:

{% block reset_link %}
{{ protocol }}://isem.natd.gov.kz{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше имя пользователя (на случай, если вы его забыли): {{ user.get_username }}

Спасибо, что используете наш сайт!

Команда isem.natd.gov.kz
{% endautoescape %}