{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} {% trans 'Password reset' %} {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}



{% block content %}

  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
        <div class="title"> {% trans 'Password change' %} </div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                 {{ form.old_password.label_tag }}
               </div>
               <div class="wrap">
                 {{ form.old_password }}
              </div>
              <div class="label">
                {{ form.old_password.errors }}
              </div>
           </div>
        </div>

        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                 {{ form.new_password1.label_tag }}
               </div>
               <div class="wrap">
                 {{ form.new_password1 }}
              </div>
              <div class="label">
                {{ form.new_password1.errors }}
              </div>
           </div>
        </div>

        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                 {{ form.new_password2.label_tag }}
               </div>
               <div class="wrap">
                 {{ form.new_password2 }}
              </div>
              <div class="label">
                {{ form.new_password2.errors }}
              </div>
           </div>
        </div>

        <div class="input_block_full">
          <div class="filter_side">
            <input type="submit" class="red_button" value="{% trans 'Change my password' %}" />
          </div>
        </div>

      </div>
      <div class="block_border_bottom">
          <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
      </div>
    </div>
  </form>

{% endblock %}
