{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} {% trans 'Password reset' %} {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}



{% block content %}

  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
          <div class="title"> {{ title }} </div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                <h4>
                  <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                </h4>
              </div>
           </div>
           <center>
             <a href="/auth/login/" class="no_pas">{% trans 'Log in' %}</a>
           </center>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
