{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} {% trans 'Password reset' %} {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}



{% block content %}

  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
          <div class="title"> {% trans 'Password reset' %} </div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                <h4>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</h4>
              </div>
              <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
