{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% block head_title %} {% trans 'Password reset' %} {% endblock %}
{% block css %}
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/handsontable.full.min.css' %}">
{% endblock %}



{% block content %}

  <form class="body" action="." method="post">
    <div class="user_login">
      {% csrf_token %}
      <div class="block_head">
        <div class="title"> {% trans 'Password reset' %} </div>
      </div>
      <div class="block_border_bottom">
        <div class="input_block_full">
           <div class="input_text">
              <div class="label">
                {% trans 'Email address:' %}
               </div>
               <div class="wrap">
                 <input class="login-input" id="login-email" name="email" type="email" placeholder="example@natd.gov.kz">
              </div>
              <div class="label">
                {{ form.email.errors }}
              </div>
           </div>
        </div>

        <div class="input_block_full">
          <div class="filter_side">
            <input type="submit" class="red_button" value="{% trans 'Reset my password' %}" />
          </div>
        </div>

      </div>
      <div class="block_border_bottom">
          <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
      </div>
    </div>
  </form>

{% endblock %}
